 /* #hero{ 
    text-align: center;
    margin: auto;
    padding: auto;
    color: rgb(62, 62, 252);

}
#first{
    text-align: center;
    margin: auto;
    padding: auto;
}
#first.hover{
    background: #000 ;
    cursor: pointer;

}
 #second{ 
    text-align: center;
    margin: auto;
    padding: auto;
    gap: 2rem;
}
#third{
    text-align: center;
    margin: auto;
    padding: auto;
    gap: 2rem;
}
.city{
    text-align: center;
    justify-content: center;
}
 */
 div {
    display: block;
}
h1{
    color: #1a64d6;
    font-size: 34px;
    line-height: 48px;
    margin: 0;
}
h2 {
    margin: 0;
    font-size: 34px;
    line-height: 48px;
    font-weight: 400;
}